@import "base/variables";
@import "components/navigation";
@import "components/clock";
@import "components/controls";

.page-title{
  margin-top: $space-large;
  margin-bottom: $space-large;
  color: $title-color;
}
